body {
  background-image: url('slider2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  float: right;
}

img {
  position: fixed;
  right: 20px;
  z-index: -1;
}

.container {
  width: 785px;
  height: 580px;
  background-color: white;
}

.isi {
  position: absolute;
  z-index: 1;
  margin: 0 15px;
}

p {
  color: black;
  text-align: right;
  font-size: 0.9rem;
}

h1 {
  color: black;
  text-align: right;
}